.container {
  background: rgb(5, 5, 5);
  border-radius: 12px;
  border-color: #cca8e9;
  box-shadow: rgba(194, 190, 240, 0.2) 2px 5px 5px;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  color: white;
}

.button-container {
  margin: 30px;
}

.theme-button {
  background: #c2bef0;
  border: 1px solid;
}

.theme-button:hover {
  background: black;
  color: white;
}

.awards-pic {
  transition: all 150ms ease-in-out;
}

.awards-pic:hover {
  filter: contrast(80%);
}

.gallery {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 15px 0;
}

.gallery img {
  transition: all 150ms ease-in-out;
}

.gallery img:hover {
  filter: contrast(80%);
  transform: scale(2);
}

.light-theme {
  background: linear-gradient(-20deg, #c2bef0 0%, #defcf9 100%);
}

.light-theme .container {
  background: rgb(194, 190, 240, 0.4);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px;
}

body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(194, 190, 240) 0%,
    rgb(194, 190, 240) 15.9%,
    rgb(204, 168, 233) 15.9%,
    rgb(204, 168, 233) 24.4%,
    rgb(0, 0, 0) 10%
  );
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
  color: #cca8e9;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

p {
  margin: 20px;
}

button {
  display: block;
  background: rgb(0, 0, 0, 0%);
  border: 1px solid;
  border-radius: 50px;
  color: white;
  margin: 0 auto;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: rgb(251, 205, 176);
  color: black;
}

footer {
  text-align: center;
  font-family: monospace;
}

a {
  color: #defcf9;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

a:hover {
  color: #cadefc;
}
