.container {
  background: rgb(19, 30, 37);
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  color: white;
}

.theme-button {
  background: rgb(255, 234, 221);
  color: black;
  border: 1px solid;
}

.theme-button:hover {
  background: black;
  color: white;
}

.awards-pic {
  transition: all 150ms ease-in-out;
}

.awards-pic:hover {
  filter: contrast(80%);
  transform: scale(1.2);
}

.gallery img {
  transition: all 150ms ease-in-out;
}

.gallery {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 15px 0;
}

.gallery img:hover {
  filter: contrast(80%);
  transform: scale(1.5);
}

.light-theme {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.light-theme .container {
  background: rgb(251, 205, 176);
}

body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(0, 0, 0) 10%
  );
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

button {
  display: block;
  background: rgb(0, 0, 0, 0%);
  border: 1px solid;
  border-radius: 8px;
  color: white;
  margin: 0 auto;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: rgb(251, 205, 176);
  color: black;
}

footer {
  text-align: center;
  font-family: monospace;
}
